<head-nav></head-nav>

<div class="main-container">

  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" ng-src="<%= asset_path('background-image-about.jpg') %>">
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pad-top">
          <h1 class="text-white">About Us</h1>
          <p class="lead text-white">Expertise with Passion</p>
        </div>
      </div>
    </div>
  </header>

  <section class="pure-text-centered">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>History</h1>
        </div>
        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justify">
          <p class="lead">
            Legacy Trust Company Limited (formerly known as ICS Trust) was established in 1992 in Hong Kong. 
          </p>
          <p class="lead">
            Legacy Trust Company is a Public company under the Hong Kong Companies Ordinance and registered as a Trust Company under the Hong Kong Trust Ordinance. As a leading financial and trust services provider,
          </p>
        </div>
        <div class="col-md-4 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1 text-justify">
          <p class="lead">
            Legacy Trust Company offers niche alternative trust solutions to institutions, advisors and individuals and is the Trustee to various Hong Kong Occupational Retirement Schemes (“ORS”). The company’s strategy is to create a diverse of services and products that will be utilized by customers ranging from ultra-high net-worth individuals, families, and other Professional Investors.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="pure-text-centered">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Core Values</h1>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justify">
          <p class="lead">
            Legacy Trust Company’s competitive advantage lies in its passion for its business. We are passionate about helping people to achieve their objectives—whether this be to maximize their pension assets to insure they are able to live comfortable, fulfilling lives secured by solid asset bases, or to provide innovative structures to assist entrepreneurs to achieve their corporate objectives. 
          </p>
          <p class="lead">
            The business is driven by staff who are expert in the application of the permissions created by exemptions under the Ordinances in the Securities, Trust, Insurance and Pension fields. 
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="team-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-xs-offset-1 col-xs-10 text-center">
          <h1>Leadership</h1>
          <p class="lead">
            The principals of the company bring their business skills, experience and credentials to bear in providing a broad range of services.
          </p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1">
          <div class="team-1-member">
            <img alt="Team Member" class="background-image" ng-src="<%= asset_path('team-member-1.jpg') %>">
            <h5>Vincent Chok</h5>
            <p class="team-title">Managing Director</p>
            <p>Business Development & Marketing</p>
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-0 col-sm-5">
          <div class="team-1-member">
            <img alt="Team Member" class="background-image" ng-src="<%= asset_path('team-member-1.jpg') %>">
            <h5>Douglas R. E. Wilson</h5>
            <p class="team-title">Managing Director</p>
            <p>Administration and Compliance</p>
          </div>
        </div>

        <div class="col-md-3 col-md-offset-0 col-sm-5 col-sm-offset-1">
          <div class="team-1-member">
            <img alt="Team Member" class="background-image" ng-src="<%= asset_path('team-member-1.jpg') %>">
            <h5>David Nesbitt</h5>
            <p class="team-title">Director</p>
          </div>
        </div>

        <div class="col-md-3 col-md-offset-0 col-sm-5">
          <div class="team-1-member">
            <img alt="Team Member" class="background-image" ng-src="<%= asset_path('team-member-1.jpg') %>">
            <h5>Myles Morin</h5>
            <p class="team-title">Director</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pricing-1 bg-secondary-1 fiduciary-duty">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-xs-offset-1 col-xs-10 text-center">
          <h1 class="text-white">Fiduciary Duty</h1>
          <p class="lead text-white">Legacy Trust Company has many important duties and responsibilities as a Trustee. Some of these follow:</p>
        </div>
      </div>
      
      <div class="row clearfix pricing-tables">
        <div class="col-md-3 col-sm-6 no-pad-right">
          <div class="pricing-table">
            <div class="price">
              <h5 class="alt-font text-white">To Administer Trusts</h5>
              <p class="lead text-white text-justify">To manage the trust in accordance with its terms for the duration of the trusteeship.</p>
            </div>
            <div class="price2">
              <h5 class="alt-font text-white">Loyalty</h5>
              <p class="lead text-white text-justify">An obligation owed by a trustee to a beneficiary that binds the trustee to act in the best interests of the beneficiary while refraining from placing their own interests above those of the beneficiary.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 no-pad">
          <div class="pricing-table">
            <div class="price">
              <h5 class="alt-font text-white">Delegation by a Trustee</h5>
              <p class="lead text-white text-justify">A responsibility that a trustee owes to the grantor and beneficiary to personally carryout the management of trust assets and other matters that the trustee has agreed to undertake.</p>
            </div>
            <div class="price2">
              <h5 class="alt-font text-white">To Keep and Render Accounts</h5>
              <p class="lead text-white text-justify">The trustee has the role of keeper of records and provider of transactional details.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 no-pad">
          <div class="pricing-table">
            <div class="price">
              <h5 class="alt-font text-white">Furnish Information</h5>
              <p class="lead text-white text-justify">The right of beneficiaries to receive a copy of the trust, along with detailed information including all material facts, accountings, and transactions.</p>
            </div>
            <div class="price2">
              <h5 class="alt-font text-white">Exercise Reasonable<br>Care and Skills</h5>
              <p class="lead text-white text-justify">Trustees have a duty to exercise reasonable care and skill in executing their duties and responsibilities as trustee in relation to the fact that, as a fiduciary, the trustee has the highest level of duty.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 no-pad-left">
          <div class="pricing-table">
            <div class="price">
              <h5 class="alt-font text-white">Take Control of<br>Trust Property</h5>
              <p class="lead text-white text-justify">Ensuring proper designation and title of trust property to secure the corpus by the trustee.</p>
            </div>
            <div class="price2">
              <h5 class="alt-font text-white">Impartiality</h5>
              <p class="lead text-white text-justify">A trustee’s responsibility to administer a trust so as to afford each beneficiary with the same level of benefits and protection. The duty extends to current as well as successive beneficiaries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<!--   <section class="pure-text-centered">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Fiduciary Duty</h1>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-10 text-center">
          <p class="lead">
            Legacy Trust Company has many important duties and responsibilities as a Trustee. Some of these follow: 
          </p>
        </div>
      </div>
      
      <div class="row client-row">
        <div class="row-wrapper">
          <div class="col-sm-3 text-center">
            <h5 class="text-center">TO ADMINISTER TRUSTS</h5>
            <p class="lead text-justify">To manage the trust in accordance with its terms for the duration of the trusteeship.</p>
          </div>
        
          <div class="col-sm-3 text-center">
            <h5 class="text-center">LOYALTY</h5>
            <p class="lead text-justify">An obligation owed by a trustee to a beneficiary that binds the trustee to act in the best interests of the beneficiary while refraining from placing their own interests above those of the beneficiary.</p>
          </div>
        
          <div class="col-sm-3 text-center">
            <h5 class="text-center">DELEGATION BY A TRUSTEE</h5>
            <p class="lead text-justify">A responsibility that a trustee owes to the grantor and beneficiary to personally carryout the management of trust assets and other matters that the trustee has agreed to undertake.</p>
          </div>
        
          <div class="col-sm-3 text-center">
            <h5 class="text-center">TO KEEP AND RENDER ACCOUNTS</h5>
            <p class="lead text-justify">The trustee has the role of keeper of records and provider of transactional details.</p>
          </div>
        </div>
      </div>
      
      <div class="row client-row">
        <div class="row-wrapper">
          <div class="col-sm-3 text-center">
            <h5 class="text-center">FURNISH INFORMATION</h5>
            <p class="lead text-justify">The right of beneficiaries to receive a copy of the trust, along with detailed information including all material facts, accountings, and transactions.</p>
          </div>
        
          <div class="col-sm-3 text-center">
            <h5 class="text-center">EXERCISE REASONABLE CARE AND SKILL</h5>
            <p class="lead text-justify">Trustees have a duty to exercise reasonable care and skill in executing their duties and responsibilities as trustee in relation to the fact that, as a fiduciary, the trustee has the highest level of duty.</p>
          </div>
        
          <div class="col-sm-3 text-center">
            <h5 class="text-center">TAKE CONTROL OF TRUST PROPERTY</h5>
            <p class="lead text-justify">Ensuring proper designation and title of trust property to secure the corpus by the trustee.</p>
          </div>
        
          <div class="col-sm-3 text-center">
            <h5 class="text-center">IMPARTIALITY</h5>
            <p class="lead text-justify">A trustee’s responsibility to administer a trust so as to afford each beneficiary with the same level of benefits and protection. The duty extends to current as well as successive beneficiaries.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->


</div>

<foot-nav></foot-nav>
