<head-nav></head-nav>

<div class="main-container">
  <header class="page-header" id="page-header">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" ng-src="<%= asset_path('background-image-about.jpg') %>">
    </div>  
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pad-top">
          <h1 class="text-white">Specialised Services</h1>
          <p class="lead text-white">
            A Personal Trust Can Be as Unique As You Are
          </p>
        </div>
      </div>
    </div>
  </header>

  <section class="pure-text-centered private-client" id="private-client">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Private Client</h1>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justify">
          <p class="lead">
            A personal trust embodies your financial plan for the future and is as unique as you are. It is tailored specifically to your needs, your circumstances, your assets and, most importantly, designed to support your goals.
          </p>
          <h2 class="text-center">Your Future... Your Legacy</h2>
          <h3 class="alt-font text-center">A Personal Trust Can Be as Unique as You Are</h3>
          <p class="lead">
            Naming a trustee to be responsible for managing your assets and legal affairs is one of the most important decisions you can make. Legacy Trust offers the extensive knowledge and experience necessary to handle your trust.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="duplicatable-content" id="advantages-of-trusts">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Advantages of Trusts</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="feature feature-icon-large">
            <!-- <i class="icon icon-notebook"></i> -->
            <h5>Managing Your Financial Affairs</h5>
            <p class="lead">Trusts can help to ensure the prudent management of your finances during times when you cannot attend to your own affairs.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature feature-icon-large">
            <!-- <i class="icon icon-strategy"></i> -->
            <h5>Diversification Strategies</h5>
            <p class="lead">Trusts can be used to help individuals with large concentrations of company stock diversify their assets, achieve liquidity, and reduce risk.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature feature-icon-large">
            <!-- <i class="icon icon-tools"></i> -->
            <h5>Reduction of Tax Liabilities</h5>
            <p class="lead">You can take advantage of one or more of a variety of trust arrangements that can minimize costly estate, income, and gift taxes.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature feature-icon-large">
            <!-- <i class="icon icon-documents"></i> -->
            <h5>Continuity</h5>
            <p class="lead">Trusts can be established to continue on after your death for the benefit of your spouse, children, or other named beneficiaries or charities.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="action-banner overlay">
    <div class="background-image-holder">
      <img class="background-image" alt="Background Image" ng-src="<%= asset_path('background-image-home-4.jpg') %>">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h1 class="text-white">Contact one of our skilled professionals to find the right trust product for you.
          </h1>
          <h2 class="text-white">Contact us at (+852) 2617-9177 </h2>
          <a href ng-click="goTo('contact-us', 'page-header', 0)" class="btn btn-primary btn-white btn-filled">Schedule a Call</a>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="pricing-1 bg-secondary-1 text-center family-trusts" id="family trusts">
    <div class="family-trusts-colored"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <h1 class="text-white">Family Trusts</h1>
          <p class="lead text-white text-justify">
            Legacy can provide independent and strategic advice to manage a family’s transfer of wealth.  As well, Legacy will work with legal, tax and accounting professionals to make sure the right trusts are established with optimal structures.  It is Legacy’s goal to meet the current needs of families and their businesses, and at the same time manage the requirements of future generations.
          </p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <h1 class="text-white">Wealth & Estate Planning</h1>
          <h3 class="alt-font">
            Personal Attention From People<br>
            You Come to Know and Trust
          </h3>
          <p class="lead text-white text-justify">
            Our wealth & estate planning services are driven by one overriding objective: to simplify the complexities of your financial life through sound investment advice and responsible tax planning.
          </p>
        </div>
      </div>
    </div>
  </section> -->

  <section class="no-pad clearfix family-trusts" id="family trusts">
    <div class="col-md-6 col-sm-12 no-pad">
      <div class="feature-box">
        <!-- <div class="background-image-holder overlay" style="background: url(http://localhost:8000/img/hero1.jpg) 50% 0%;"> -->
        <div class="background-image-holder overlay" style="background: url(<%= asset_path('hero1.jpg') %>) 50% 0%;">
          <!-- <img class="background-image" alt="Background Image" ng-src="<%= asset_path('hero1.jpg') %>" style="display: none;"> -->
        </div>
        <div class="inner">
          <h1 class="text-white">Family Trusts</h1>
          <p class="lead text-white">
            Legacy can provide independent and strategic advice to manage a family’s transfer of wealth.  As well, Legacy will work with legal, tax and accounting professionals to make sure the right trusts are established with optimal structures.  It is Legacy’s goal to meet the current needs of families and their businesses, and at the same time manage the requirements of future generations.
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-12 no-pad">
      <div class="feature-box">
        <div class="background-image-holder overlay" style="background: url(<%= asset_path('box2.jpg') %>) 50% 0%;">
          <!-- <img class="background-image" alt="Background Image" ng-src="<%= asset_path('box2.jpg') %>" style="display: none;"> -->
        </div>
        <div class="inner">
          <h1 class="text-white">Wealth & Estate Planning</h1>
          <h3 class="alt-font">
            Personal Attention From People<br>
            You Come to Know and Trust
          </h3>
          <p class="lead text-white">
            Our wealth & estate planning services are driven by one overriding objective: to simplify the complexities of your financial life through sound investment advice and responsible tax planning.
          </p>
        </div>
      </div>
    </div>
  </section>

</div>

<foot-nav></foot-nav>
