<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="legacyTeam"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="legacyTeam"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="legacyTeam"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" ng-app="legacyTeam"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Legacy Trust Company</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
    <base href="/">
  </head>

  <body class="body" ng-view>
    <%= yield %>
  </body>
</html>
